body.blue{
	background-color: #5B7180;
}
body.yellow{
	background-color: #FFD4B5;
}
body.pale{
	background-color: #DAF0FF;
}
img.logo{
	width: 100%;
}
img.transitionimg{
	width: 100%;
}
img.spero{
	width: 10%;
}
img.login{
	width: 100%;
}
img.title{
	width: 50%;
	margin-bottom: 10%;
}
img.img-header{
	height: 100%;
}
img.img-footer{
	height: 3%;
}
.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.btn{
	color: white;
	background-color: #5B7180;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}
a:link, a:visited, a:hover{
	color: #5B7180;
}
a:active{
	color: #5B7180;
}
.navbar{
	height: auto !important;
}
textarea {
   resize: none;
}
.input-group-addon{
	background-color: #5B7180;
	color: white;
}
.progress-bar{
	background-color: #70A6FF;
}
div.fullscreen{
	background-color: #5B7180;
	position:absolute;
	top:0%;
	bottom:0%;
	left:0%;
	right:0%;
	z-index:100;
}
div.panel{
	background-color: #f2f9ff;
	border-color: #f2f9ff;
	color: #a5d5ff;
}
div.panel-heading-color{
	background-color: #a5d5ff;
	color: #f2f9ff;
}
div.footer{
	position: absolute;
	bottom: 0;
	left:0%;
	right:0%;
	margin-left: 0%;
	margin-right: 0%;
}
div.centerscreen{
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}
div.panelfooter{
	background-color: #bccbd6;
	color: white;
}
@media (min-width: 540px) {
	div.margins{
		margin-top: 5%;
	}
	img.margins{
		margin-top: 5%;
		margin-bottom: 5%;
	}
}
@media (max-width: 540px) {
	img.margins{
		margin-top: 20%;
		margin-bottom: 20%;
	}
	div.margins{
		margin-top: 5%;
	}
	img.spero{
		width: 35%;
	}	
	img.title{
		width: 100%;
		margin-bottom: 10%;
	}
}

div.stemClass{
	background-color: #f6ff8e;
	color: #8f9354;
}
div.abmClass{
	background-color: #58ce70;
	color: #2a823c;
}
div.humssClass{
	background-color: #5c90d1;
	color: #31598c;
}
div.gasClass{
	background-color: #efefef;
	color: #a5a5a5;
}
div.artsdesignClass{
	background-color: #67338e;
	color: #2c163d;
}
div.sportsClass{
	background-color: #d31919;
	color: #5b0b0b;
}

.marginTop{
	margin-top: 30px;
}