body.blue{
	background-color: #5B7180;
}
body.yellow{
	background-color: #FFD4B5;
}
body.pale{
	background-color: #DAF0FF;
}
img.logo{
	width: 100%;
}
img.spero{
	width: 10%;
}
img.login{
	width: 100%;
}
img.img-header{
	height: 110%;
}
.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.btn{
	color: white;
	background-color: #5B7180;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}
a:link, a:visited, a:hover{
	color: #5B7180;
}
a:active{
	color: #B5E0FF;
}
.navbar{
	height: auto !important;
}
textarea {
   resize: none;
}
.input-group-addon{
	background-color: #5B7180;
	color: white;
}
.progress-bar{
	background-color: #70A6FF;
}

@media (min-width: 540px) {
	div.margins{
	margin-top: 5%;
}
img.margins{
	margin-top: 5%;
	margin-bottom: 5%;
}
}
@media (max-width: 540px) {
	img.margins{
		margin-top: 20%;
		margin-bottom: 20%;
	}
	div.margins{
		margin-top: 5%;
	}
	img.spero{
		width: 35%;
	}	
	.footer {
		position: fixed;
		bottom: 2%;
	}
}